
		<div class="navbar" style="margin-top: 10px;">

               <div class="container-fluid">
							<div class="nav-collapse collapse">
							<ul class="nav" id="footer_nav">
			    <li class="divider-vertical"></li>
		        <li ><a class="active" href="index.php"><i class="icon-home"></i>&nbsp;Home</a></li>
			 <li class="divider-vertical"></li>
		     <li><a href="about.php"><i class="icon-info-sign"></i>&nbsp;About</a></li>
			<li class="divider-vertical"></li>






		<li><a href="history.php"><i class="icon-file"></i>&nbsp;History</a></li>
			<li class="divider-vertical"></li>
		<li><a href="developers.php"><i class="icon-user"></i>&nbsp;Developers</a></li>
		<li class="divider-vertical"></li>

	</ul>
							</div>
                   <!--/.nav-collapse -->
               </div>

</div>
