{% extends 'instructor/base_template.html' %}

{% load crispy_forms_tags %}

{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card mb-3">
      <div class="card-body">
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'instructors:quiz_change_list' %}">My Quizzes</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a new quiz</li>
    </ol>
  </nav>
  <h2 class="mb-3">Add a new quiz</h2>
  <div class="row">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'instructors:quiz_change_list' %}" class="btn btn-outline-secondary" role="button">Cancle</a>
      </form>
    </div>
  </div>
</div>
</section>
  {% endblock main_content %}
